body {
    background-color: white;
    text-align: left;
    margin: 0;
    font-family: lato;
    font-size: 300;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
section{
    margin: 12px;
}
/*INTRO*/
.header__inner{
    background-image: url("../img/pattern.png");
    height: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 153, 255, 0.801);
}
#img__inner{
    width: 500px;
    margin-top: 100px;
    margin-left: 12px;
}
/*F.INTRO*/

/*TITOLO*/
.titolo{
    font-size: 40px;
    margin: 12px;
    
}
.sottotitolo{
    margin-left: 12px;
    color:gray;   
}
#t_booleaner{
    color: skyblue;
}
/*F.TITOLO*/